@model ManageUsersViewModel
@{ ViewData["Title"] = "Manage users"; } 
<h2> @ViewData["Title"] </h2>
<h3> Administrators </h3> 
<table class = "table">
    <thead>
        <tr>
            <td> Id </td>
            <td> Email </td>
        </tr>
    </thead> 
    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td> @user.Id </td>
            <td> @user.Email </td>
        </tr>
    }
</table>

 <h3> Everyone </h3>
 <table class = "table">
     <thead>
         <tr>
             <td> Id </td>
             <td> Email </td>
         </tr> 
     </thead>
     @foreach (var user in Model.Everyone)
     {
         <tr>
             <td> @user.Id </td>
             <td> @user.Email </td> 
         </tr>
     } 
 </table> 
 <div>     
  <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"dark" asp-area="Identity" asp-page="/Account/Register">Register new user</a>       
 </div>